## Download and Clean Dataset
Let's start by importing the pandas and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# The code was removed by Watson Studio for sharing.

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split data into predictors and target
The target variable in this problem is the concrete sample strength. So, our predictors will be all the other columns

In [6]:
df_columns = df.columns
predictors = df[df_columns[df_columns != 'Strength']] # all columns except Strength
target = df['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

## Import Keras
Let's go ahead and import the Keras library

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [14]:
# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [19]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/100
 - 0s - loss: 40.1106
Epoch 2/100
 - 0s - loss: 40.3212
Epoch 3/100
 - 0s - loss: 38.3507
Epoch 4/100
 - 0s - loss: 38.5415
Epoch 5/100
 - 0s - loss: 40.7787
Epoch 6/100
 - 0s - loss: 40.3099
Epoch 7/100
 - 0s - loss: 40.8499
Epoch 8/100
 - 0s - loss: 41.0021
Epoch 9/100
 - 0s - loss: 39.9585
Epoch 10/100
 - 0s - loss: 38.6864
Epoch 11/100
 - 0s - loss: 40.8367
Epoch 12/100
 - 0s - loss: 40.9545
Epoch 13/100
 - 0s - loss: 39.3663
Epoch 14/100
 - 0s - loss: 39.6340
Epoch 15/100
 - 0s - loss: 38.6305
Epoch 16/100
 - 0s - loss: 40.8490
Epoch 17/100
 - 0s - loss: 39.5697
Epoch 18/100
 - 0s - loss: 39.6544
Epoch 19/100
 - 0s - loss: 39.6955
Epoch 20/100
 - 0s - loss: 38.7511
Epoch 21/100
 - 0s - loss: 40.2711
Epoch 22/100
 - 0s - loss: 40.5504
Epoch 23/100
 - 0s - loss: 38.9370
Epoch 24/100
 - 0s - loss: 39.0999
Epoch 25/100
 - 0s - loss: 39.3322
Epoch 26/100
 - 0s - loss: 38.6766
Epoch 27/100
 - 0s - loss: 38.9478
Epoch 28/100
 - 0s - loss: 40.1038
Epoch 29/100
 - 0s - loss: 40.0129
Epoch 30/100
 - 0s - loss: 39.4928
Epoch 31/100
 - 0s - loss: 39.7613
Epoch 32/100
 - 0s - loss: 38.3493
Epoch 33/100
 - 0s - loss: 38.5906
Epoch 34/100
 - 0s - loss: 40.4046
Epoch 35/100
 - 0s - loss: 39.2545
Epoch 36/100
 - 0s - loss: 40.8709
Epoch 37/100
 - 0s - loss: 38.9876
Epoch 38/100
 - 0s - loss: 38.2746
Epoch 39/100
 - 0s - loss: 41.8757
Epoch 40/100
 - 0s - loss: 38.8786
Epoch 41/100
 - 0s - loss: 39.8991
Epoch 42/100
 - 0s - loss: 39.5442
Epoch 43/100
 - 0s - loss: 39.7067
Epoch 44/100
 - 0s - loss: 40.6460
Epoch 45/100
 - 0s - loss: 39.2603
Epoch 46/100
 - 0s - loss: 38.5296
Epoch 47/100
 - 0s - loss: 39.1469
Epoch 48/100
 - 0s - loss: 41.8406
Epoch 49/100
 - 0s - loss: 38.9488
Epoch 50/100
 - 0s - loss: 39.1051
Epoch 51/100
 - 0s - loss: 39.5015
Epoch 52/100
 - 0s - loss: 38.3634
Epoch 53/100
 - 0s - loss: 39.5380
Epoch 54/100
 - 0s - loss: 42.4028
Epoch 55/100
 - 0s - loss: 39.8413
Epoch 56/100
 - 0s - loss: 40.2526
Epoch 57/100
 - 0s - loss: 38.5685
Epoch 58/100
 - 0s - loss: 38.8796
Epoch 59/100
 - 0s - loss: 39.1047
Epoch 60/100
 - 0s - loss: 42.8728
Epoch 61/100
 - 0s - loss: 43.8860
Epoch 62/100
 - 0s - loss: 38.9516
Epoch 63/100
 - 0s - loss: 38.6358
Epoch 64/100
 - 0s - loss: 38.2095
Epoch 65/100
 - 0s - loss: 39.3074
Epoch 66/100
 - 0s - loss: 38.6628
Epoch 67/100
 - 0s - loss: 38.4027
Epoch 68/100
 - 0s - loss: 38.7929
Epoch 69/100
 - 0s - loss: 38.3471
Epoch 70/100
 - 0s - loss: 38.3767
Epoch 71/100
 - 0s - loss: 38.6304
Epoch 72/100
 - 0s - loss: 38.4623
Epoch 73/100
 - 0s - loss: 38.5168
Epoch 74/100
 - 0s - loss: 38.5914
Epoch 75/100
 - 0s - loss: 38.5146
Epoch 76/100
 - 0s - loss: 38.2796
Epoch 77/100
 - 0s - loss: 41.8608
Epoch 78/100
 - 0s - loss: 39.3254
Epoch 79/100
 - 0s - loss: 37.8473
Epoch 80/100
 - 0s - loss: 38.3920
Epoch 81/100
 - 0s - loss: 39.3419
Epoch 82/100
 - 0s - loss: 38.4491
Epoch 83/100
 - 0s - loss: 38.6058
Epoch 84/100
 - 0s - loss: 38.6346
Epoch 85/100
 - 0s - loss: 38.6970
Epoch 86/100
 - 0s - loss: 38.6713
Epoch 87/100
 - 0s - loss: 38.2346
Epoch 88/100
 - 0s - loss: 38.9115
Epoch 89/100
 - 0s - loss: 38.2434
Epoch 90/100
 - 0s - loss: 38.8565
Epoch 91/100
 - 0s - loss: 38.5925
Epoch 92/100
 - 0s - loss: 38.3345
Epoch 93/100
 - 0s - loss: 38.0902
Epoch 94/100
 - 0s - loss: 38.6306
Epoch 95/100
 - 0s - loss: 37.8673
Epoch 96/100
 - 0s - loss: 40.8025
Epoch 97/100
 - 0s - loss: 38.5136
Epoch 98/100
 - 0s - loss: 39.2815
Epoch 99/100
 - 0s - loss: 39.9833
Epoch 100/100
 - 0s - loss: 39.7282

In [20]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 53us/step

49.59647831098933

### Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [17]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

289.0244244491127 0.0

In [18]:
total_mean_squared_errors = 100
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 187.92548407397223
MSE 2: 124.74077830885606
MSE 3: 76.79333389924182
MSE 4: 64.67975632503966
MSE 5: 60.361525921374074
MSE 6: 54.148767773773294
MSE 7: 59.53955838595393
MSE 8: 44.12078701871113
MSE 9: 47.106422350244614
MSE 10: 53.01655050234501
MSE 11: 48.870911928442304
MSE 12: 41.416744911169154
MSE 13: 49.36932852661725
MSE 14: 52.2113265497399
MSE 15: 46.175284401112776
MSE 16: 41.38719454398047
MSE 17: 47.845617448627756
MSE 18: 45.440118999542925
MSE 19: 41.82066182256902
MSE 20: 46.03450052946516
MSE 21: 39.40590354154025
MSE 22: 42.973547654630295
MSE 23: 38.84661464012171
MSE 24: 41.180262877331586
MSE 25: 48.67961356400672
MSE 26: 46.04361993981025
MSE 27: 45.475735340303586
MSE 28: 38.691668180200274
MSE 29: 47.29067706753135
MSE 30: 45.84255502447727
MSE 31: 49.23193747017376
MSE 32: 36.19380247862979
MSE 33: 46.3869550143245
MSE 34: 38.99014434073735
MSE 35: 42.28366138248382
MSE 36: 48.78987000598105
MSE 37: 45.581219978702876
MSE 38: 48.01557828539012
MSE 39: 40.20195769029142
MSE 40: 44.53539637840296
MSE 41: 47.3611353593351
MSE 42: 44.190277902053786
MSE 43: 46.3548838544432
MSE 44: 47.08697507296565
MSE 45: 50.349216127858575
MSE 46: 45.710774122318405
MSE 47: 46.006639091713915
MSE 48: 43.79732444294062
MSE 49: 44.73439530801619
MSE 50: 46.501079497599676


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 51.39476144043407
Standard Deviation: 23.3477254197806

##### The mean of the mean squared errors is lower when compared to that from Step A