## Download and Clean Dataset
Let's start by importing the pandas and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# The code was removed by Watson Studio for sharing.

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split data into predictors and target
The target variable in this problem is the concrete sample strength. So, our predictors will be all the other columns

In [6]:
df_columns = df.columns
predictors = df[df_columns[df_columns != 'Strength']] # all columns except Strength
target = df['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [18]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

## Import Keras
Let's go ahead and import the Keras library

In [19]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [20]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [22]:
# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [23]:
# fit the model
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
 - 1s - loss: 31453.3142
Epoch 2/100
 - 0s - loss: 6155.3161
Epoch 3/100
 - 0s - loss: 2217.5977
Epoch 4/100
 - 0s - loss: 1606.5671
Epoch 5/100
 - 0s - loss: 1310.4232
Epoch 6/100
 - 0s - loss: 1123.8731
Epoch 7/100
 - 0s - loss: 941.8601
Epoch 8/100
 - 0s - loss: 814.3483
Epoch 9/100
 - 0s - loss: 732.9418
Epoch 10/100
 - 0s - loss: 682.0594
Epoch 11/100
 - 0s - loss: 637.9085
Epoch 12/100
 - 0s - loss: 602.3982
Epoch 13/100
 - 0s - loss: 571.0796
Epoch 14/100
 - 0s - loss: 544.2549
Epoch 15/100
 - 0s - loss: 517.6694
Epoch 16/100
 - 0s - loss: 495.2654
Epoch 17/100
 - 0s - loss: 472.3566
Epoch 18/100
 - 0s - loss: 450.6946
Epoch 19/100
 - 0s - loss: 434.5214
Epoch 20/100
 - 0s - loss: 415.4508
Epoch 21/100
 - 0s - loss: 394.9885
Epoch 22/100
 - 0s - loss: 377.6264
Epoch 23/100
 - 0s - loss: 360.5084
Epoch 24/100
 - 0s - loss: 343.1308
Epoch 25/100
 - 0s - loss: 331.8061
Epoch 26/100
 - 0s - loss: 311.2274
Epoch 27/100
 - 0s - loss: 296.2579
Epoch 28/100
 - 0s - loss: 281.5439
Epoch 29/100
 - 0s - loss: 266.2095
Epoch 30/100
 - 0s - loss: 252.7324
Epoch 31/100
 - 0s - loss: 240.8745
Epoch 32/100
 - 0s - loss: 229.2604
Epoch 33/100
 - 0s - loss: 218.3932
Epoch 34/100
 - 0s - loss: 209.3209
Epoch 35/100
 - 0s - loss: 200.2806
Epoch 36/100
 - 0s - loss: 192.1326
Epoch 37/100
 - 0s - loss: 184.8733
Epoch 38/100
 - 0s - loss: 178.3869
Epoch 39/100
 - 0s - loss: 171.6105
Epoch 40/100
 - 0s - loss: 165.7119
Epoch 41/100
 - 0s - loss: 159.8062
Epoch 42/100
 - 0s - loss: 154.7959
Epoch 43/100
 - 0s - loss: 151.2041
Epoch 44/100
 - 0s - loss: 146.0335
Epoch 45/100
 - 0s - loss: 141.3374
Epoch 46/100
 - 0s - loss: 138.1538
Epoch 47/100
 - 0s - loss: 134.0532
Epoch 48/100
 - 0s - loss: 130.7560
Epoch 49/100
 - 0s - loss: 126.8709
Epoch 50/100
 - 0s - loss: 124.7085
Epoch 51/100
 - 0s - loss: 121.6900
Epoch 52/100
 - 1s - loss: 119.6280
Epoch 53/100
 - 0s - loss: 119.1097
Epoch 54/100
 - 0s - loss: 118.4542
Epoch 55/100
 - 0s - loss: 114.8306
Epoch 56/100
 - 0s - loss: 113.2000
Epoch 57/100
 - 0s - loss: 111.1896
Epoch 58/100
 - 0s - loss: 110.3392
Epoch 59/100
 - 0s - loss: 109.5159
Epoch 60/100
 - 0s - loss: 106.9734
Epoch 61/100
 - 0s - loss: 105.8231
Epoch 62/100
 - 0s - loss: 103.9279
Epoch 63/100
 - 0s - loss: 101.9110
Epoch 64/100
 - 0s - loss: 101.3731
Epoch 65/100
 - 0s - loss: 100.2124
Epoch 66/100
 - 0s - loss: 99.4847
Epoch 67/100
 - 0s - loss: 98.3874
Epoch 68/100
 - 0s - loss: 98.1550
Epoch 69/100
 - 0s - loss: 95.7420
Epoch 70/100
 - 0s - loss: 95.6879
Epoch 71/100
 - 0s - loss: 95.3854
Epoch 72/100
 - 0s - loss: 94.4852
Epoch 73/100
 - 0s - loss: 93.2987
Epoch 74/100
 - 0s - loss: 92.8461
Epoch 75/100
 - 0s - loss: 92.1751
Epoch 76/100
 - 0s - loss: 91.2986
Epoch 77/100
 - 0s - loss: 90.2950
Epoch 78/100
 - 0s - loss: 90.8764
Epoch 79/100
 - 0s - loss: 89.0638
Epoch 80/100
 - 0s - loss: 90.5928
Epoch 81/100
 - 0s - loss: 89.9773
Epoch 82/100
 - 0s - loss: 88.0997
Epoch 83/100
 - 0s - loss: 87.6333
Epoch 84/100
 - 0s - loss: 87.4855
Epoch 85/100
 - 0s - loss: 86.3531
Epoch 86/100
 - 0s - loss: 86.5414
Epoch 87/100
 - 0s - loss: 87.7275
Epoch 88/100
 - 0s - loss: 85.6369
Epoch 89/100
 - 0s - loss: 84.8267
Epoch 90/100
 - 0s - loss: 84.6179
Epoch 91/100
 - 0s - loss: 83.4555
Epoch 92/100
 - 0s - loss: 83.2707
Epoch 93/100
 - 0s - loss: 83.3698
Epoch 94/100
 - 0s - loss: 82.7751
Epoch 95/100
 - 0s - loss: 83.1014
Epoch 96/100
 - 0s - loss: 81.6210
Epoch 97/100
 - 0s - loss: 83.1889
Epoch 98/100
 - 0s - loss: 82.6508
Epoch 99/100
 - 0s - loss: 81.7096
Epoch 100/100
 - 0s - loss: 80.2155

In [24]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 369us/step

90.4638030907097

### Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [25]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

90.46380577123757 0.0

In [26]:
total_mean_squared_errors = 100
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 66.61600072175554
MSE 2: 87.5740755692269
MSE 3: 60.6589469292403
MSE 4: 63.44225707563382
MSE 5: 60.8459341055367
MSE 6: 60.026473085471345
MSE 7: 64.41358409498888
MSE 8: 48.99084165258315
MSE 9: 47.58350197011213
MSE 10: 48.67091031367725
MSE 11: 48.44127998228598
MSE 12: 42.41249867781852
MSE 13: 51.23710478007986
MSE 14: 47.6998493355069
MSE 15: 44.25156005069276
MSE 16: 38.698493198283664
MSE 17: 47.81580426854995
MSE 18: 44.6302815162634
MSE 19: 41.33511057486426
MSE 20: 46.67601972413294
MSE 21: 42.44797738084515
MSE 22: 43.33365918748973
MSE 23: 42.54711132605099
MSE 24: 44.605568450631445
MSE 25: 52.276146873301286
MSE 26: 46.56287808711475
MSE 27: 43.03453239268084
MSE 28: 48.229908520349795
MSE 29: 50.30229917853396
MSE 30: 45.588301834550876
MSE 31: 46.55122814980911
MSE 32: 34.86165445445039
MSE 33: 45.162712590979915
MSE 34: 39.46105450874008
MSE 35: 46.119821468217474
MSE 36: 51.54619942822502
MSE 37: 43.74299768491085
MSE 38: 51.544916714665185
MSE 39: 43.73579511673319
MSE 40: 39.217855521390355
MSE 41: 49.15121974759889
MSE 42: 42.93416815205299
MSE 43: 41.40488756050184
MSE 44: 46.29799129893479
MSE 45: 46.575271976804274
MSE 46: 46.15518518096035
MSE 47: 43.88428362750698
MSE 48: 47.87842083285928
MSE 49: 44.47665568231379
MSE 50: 45.10966720087243
MSE 51: 35.38876505114114
MSE 52: 39.807464815652104
MSE 53: 40.36175527233136
MSE 54: 39.92118179913864
MSE 55: 56.345275138188335
MSE 56: 41.104857571302496
MSE 57: 40.961936839575905
MSE 58: 46.77019616778229
MSE 59: 60.92819922487327
MSE 60: 52.387385099836926
MSE 61: 37.59061530647154
MSE 62: 45.65019856918977
MSE 63: 42.82358865830505
MSE 64: 41.99506612734501
MSE 65: 41.07169295128881
MSE 66: 43.17604866151285
MSE 67: 40.748902725170346
MSE 68: 46.15716582363092
MSE 69: 50.00909523825044
MSE 70: 46.57924340998085
MSE 71: 44.37148928102166
MSE 72: 40.246924847846664
MSE 73: 36.57674770910763
MSE 74: 37.07134049301394
MSE 75: 44.133763396624225
MSE 76: 58.117924193348315
MSE 77: 36.38306912172188
MSE 78: 36.7350424115326
MSE 79: 55.62637055035934
MSE 80: 42.34875283349293
MSE 81: 40.73349585425121
MSE 82: 42.19919120763883
MSE 83: 38.621515292565796
MSE 84: 38.06700142301788
MSE 85: 40.177110097940684
MSE 86: 36.40029762786569
MSE 87: 38.05887322904223
MSE 88: 32.37910947830546
MSE 89: 32.66889868122089
MSE 90: 36.55758837357308
MSE 91: 44.787820964183624
MSE 92: 33.98808981762735
MSE 93: 37.43806315548598
MSE 94: 35.427656278641095
MSE 95: 37.99198171621773
MSE 96: 39.78621542106554
MSE 97: 40.26020325348987
MSE 98: 38.652152027512834
MSE 99: 39.04257418808428
MSE 100: 35.98796455605516


Below is the mean and standard deviation of 100 mean squared errors without normalized data. Total number of epochs for each training is: 100

Mean: 44.973767541859864
Standard Deviation: 8.270997708619964

##### The mean of the mean squared errors is lower when compared to that from Step B