## Download and Clean Dataset
Let's start by importing the pandas and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# The code was removed by Watson Studio for sharing.

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split data into predictors and target
The target variable in this problem is the concrete sample strength. So, our predictors will be all the other columns

In [5]:
df_columns = df.columns
predictors = df[df_columns[df_columns != 'Strength']] # all columns except Strength
target = df['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

## Import Keras
Let's go ahead and import the Keras library

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [11]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [13]:
# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [14]:
# fit the model
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
 - 2s - loss: 27294.8583
Epoch 2/100
 - 0s - loss: 3262.8670
Epoch 3/100
 - 0s - loss: 1397.5938
Epoch 4/100
 - 0s - loss: 1187.7874
Epoch 5/100
 - 0s - loss: 1014.2942
Epoch 6/100
 - 0s - loss: 900.6084
Epoch 7/100
 - 0s - loss: 814.7051
Epoch 8/100
 - 0s - loss: 739.3816
Epoch 9/100
 - 0s - loss: 679.9557
Epoch 10/100
 - 0s - loss: 634.2255
Epoch 11/100
 - 0s - loss: 596.1300
Epoch 12/100
 - 0s - loss: 555.3558
Epoch 13/100
 - 0s - loss: 521.7214
Epoch 14/100
 - 1s - loss: 493.7995
Epoch 15/100
 - 1s - loss: 467.8867
Epoch 16/100
 - 0s - loss: 445.1310
Epoch 17/100
 - 0s - loss: 425.1782
Epoch 18/100
 - 0s - loss: 400.2244
Epoch 19/100
 - 0s - loss: 378.1213
Epoch 20/100
 - 0s - loss: 359.3536
Epoch 21/100
 - 0s - loss: 336.5144
Epoch 22/100
 - 0s - loss: 320.9539
Epoch 23/100
 - 0s - loss: 304.1438
Epoch 24/100
 - 0s - loss: 287.4233
Epoch 25/100
 - 0s - loss: 275.6001
Epoch 26/100
 - 0s - loss: 256.0905
Epoch 27/100
 - 0s - loss: 243.5290
Epoch 28/100
 - 0s - loss: 232.4439
Epoch 29/100
 - 0s - loss: 220.0439
Epoch 30/100
 - 0s - loss: 210.6132
Epoch 31/100
 - 0s - loss: 205.3487
Epoch 32/100
 - 0s - loss: 197.5057
Epoch 33/100
 - 0s - loss: 191.3849
Epoch 34/100
 - 0s - loss: 186.9943
Epoch 35/100
 - 0s - loss: 182.4872
Epoch 36/100
 - 0s - loss: 179.8322
Epoch 37/100
 - 0s - loss: 176.1367
Epoch 38/100
 - 0s - loss: 173.3415
Epoch 39/100
 - 0s - loss: 174.3444
Epoch 40/100
 - 0s - loss: 173.8533
Epoch 41/100
 - 0s - loss: 168.0857
Epoch 42/100
 - 0s - loss: 165.9022
Epoch 43/100
 - 0s - loss: 164.5333
Epoch 44/100
 - 0s - loss: 164.7258
Epoch 45/100
 - 1s - loss: 163.5722
Epoch 46/100
 - 1s - loss: 162.7048
Epoch 47/100
 - 0s - loss: 161.7321
Epoch 48/100
 - 0s - loss: 159.6284
Epoch 49/100
 - 0s - loss: 161.0777
Epoch 50/100
 - 0s - loss: 160.5838
Epoch 51/100
 - 0s - loss: 160.0589
Epoch 52/100
 - 0s - loss: 159.5923
Epoch 53/100
 - 0s - loss: 160.7890
Epoch 54/100
 - 0s - loss: 156.4519
Epoch 55/100
 - 0s - loss: 157.4178
Epoch 56/100
 - 0s - loss: 155.3668
Epoch 57/100
 - 0s - loss: 152.9922
Epoch 58/100
 - 0s - loss: 155.2577
Epoch 59/100
 - 0s - loss: 151.9816
Epoch 60/100
 - 0s - loss: 152.3948
Epoch 61/100
 - 0s - loss: 153.7930
Epoch 62/100
 - 0s - loss: 151.1882
Epoch 63/100
 - 0s - loss: 149.9546
Epoch 64/100
 - 0s - loss: 148.4674
Epoch 65/100
 - 0s - loss: 149.5483
Epoch 66/100
 - 0s - loss: 152.9776
Epoch 67/100
 - 0s - loss: 147.9706
Epoch 68/100
 - 0s - loss: 149.6448
Epoch 69/100
 - 0s - loss: 147.7230
Epoch 70/100
 - 0s - loss: 146.1229
Epoch 71/100
 - 0s - loss: 147.5715
Epoch 72/100
 - 0s - loss: 144.9904
Epoch 73/100
 - 0s - loss: 144.1801
Epoch 74/100
 - 1s - loss: 145.0539
Epoch 75/100
 - 1s - loss: 142.9957
Epoch 76/100
 - 0s - loss: 144.4579
Epoch 77/100
 - 0s - loss: 145.0621
Epoch 78/100
 - 0s - loss: 140.6464
Epoch 79/100
 - 0s - loss: 140.7933
Epoch 80/100
 - 0s - loss: 142.2447
Epoch 81/100
 - 0s - loss: 139.0175
Epoch 82/100
 - 0s - loss: 141.7477
Epoch 83/100
 - 0s - loss: 137.7588
Epoch 84/100
 - 0s - loss: 143.6866
Epoch 85/100
 - 0s - loss: 137.5336
Epoch 86/100
 - 0s - loss: 137.0437
Epoch 87/100
 - 0s - loss: 137.8518
Epoch 88/100
 - 0s - loss: 137.0855
Epoch 89/100
 - 0s - loss: 134.9827
Epoch 90/100
 - 0s - loss: 135.1356
Epoch 91/100
 - 0s - loss: 134.7612
Epoch 92/100
 - 0s - loss: 134.6625
Epoch 93/100
 - 0s - loss: 135.1788
Epoch 94/100
 - 0s - loss: 136.2002
Epoch 95/100
 - 0s - loss: 134.7504
Epoch 96/100
 - 0s - loss: 131.8186
Epoch 97/100
 - 0s - loss: 130.1833
Epoch 98/100
 - 0s - loss: 128.5420
Epoch 99/100
 - 0s - loss: 127.7011
Epoch 100/100
 - 0s - loss: 128.4181

In [15]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 418us/step

138.89743041992188

### Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [16]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

138.8974337016874 0.0

In [17]:
total_mean_squared_errors = 100
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 78.39422551868032
MSE 2: 73.38250033677974
MSE 3: 57.475272120009734
MSE 4: 50.877660880968406
MSE 5: 42.27740688385701
MSE 6: 43.63718876020808
MSE 7: 44.56720874378982
MSE 8: 36.74015451326339
MSE 9: 38.059678235100314
MSE 10: 42.200407639290525
MSE 11: 39.97560907258956
MSE 12: 31.896305979262664
MSE 13: 42.38905429531455
MSE 14: 43.42544898863363
MSE 15: 39.73183509061251
MSE 16: 33.490722100711565
MSE 17: 36.519395710966734
MSE 18: 45.72233842028769
MSE 19: 36.07414463499989
MSE 20: 41.77159871098293
MSE 21: 37.91394228148229
MSE 22: 36.533173014816725
MSE 23: 35.885385507133016
MSE 24: 34.753520126095864
MSE 25: 37.623229968123454
MSE 26: 40.737312711944085
MSE 27: 41.90326727709724
MSE 28: 33.063495129829086
MSE 29: 43.11607088008745
MSE 30: 34.80572585071946
MSE 31: 35.76565848044979
MSE 32: 31.13146616803018
MSE 33: 34.34315431465223
MSE 34: 33.874716823540844
MSE 35: 35.91187844384449
MSE 36: 39.060733338389966
MSE 37: 34.92623115588932
MSE 38: 34.51247722045503
MSE 39: 32.54093757802229
MSE 40: 28.27912264580094
MSE 41: 39.0518777038673
MSE 42: 34.33037910337973
MSE 43: 33.980931507345154
MSE 44: 35.79642574223886
MSE 45: 35.691804595749744
MSE 46: 39.977445917222106
MSE 47: 31.61625018320423
MSE 48: 31.488857837170844
MSE 49: 33.63937014977909
MSE 50: 32.33224793468093
MSE 51: 31.457012485146137
MSE 52: 29.66757599667052
MSE 53: 30.14599118032116
MSE 54: 31.266925898184667
MSE 55: 35.13676228569549
MSE 56: 31.781741457078063
MSE 57: 29.896668319949054
MSE 58: 35.703159023642925
MSE 59: 32.803068938764554
MSE 60: 33.61142788735794
MSE 61: 29.15772818901778
MSE 62: 27.34862125421419
MSE 63: 29.531729923482853
MSE 64: 27.298668450907982
MSE 65: 29.25580527790156
MSE 66: 30.194510077195645
MSE 67: 29.78648855462429
MSE 68: 32.856243824881645
MSE 69: 28.046716245632727
MSE 70: 38.766721274860465
MSE 71: 39.560075222867205
MSE 72: 27.041550744312868
MSE 73: 28.685278117849602
MSE 74: 27.921244902132397
MSE 75: 30.64518165588379
MSE 76: 29.477752401605006
MSE 77: 30.679325443255475
MSE 78: 26.596189801361184
MSE 79: 32.72304283068018
MSE 80: 29.157626636591544
MSE 81: 27.637509361439925
MSE 82: 30.920559883117676
MSE 83: 28.95104429251168
MSE 84: 28.806360183024484
MSE 85: 28.227215325562312
MSE 86: 25.642907917306648
MSE 87: 35.13598653799507
MSE 88: 25.14706759159619
MSE 89: 33.72294551269136
MSE 90: 28.929491641837803
MSE 91: 30.989215696513845
MSE 92: 24.59680293987484
MSE 93: 29.2923311770541
MSE 94: 26.268710670347737
MSE 95: 29.93778558996503
MSE 96: 28.8927744214203
MSE 97: 29.93499792278006
MSE 98: 28.25229089236954
MSE 99: 31.09118636294862
MSE 100: 28.690835033034045


Below is the mean and standard deviation of 100 mean squared errors without normalized data. Total number of epochs for each training is: 100

Mean: 34.7046409101114
Standard Deviation: 8.19278326321411

##### The mean of the mean squared errors is lower when compared to that from Step C