## Download and Clean Dataset
Let's start by importing the pandas and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

In [3]:
# The code was removed by Watson Studio for sharing.

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
df.shape

(1030, 9)

In [7]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split data into predictors and target
The target variable in this problem is the concrete sample strength. So, our predictors will be all the other columns

In [9]:
df_columns = df.columns
predictors = df[df_columns[df_columns != 'Strength']] # all columns except Strength
target = df['Strength'] # Strength column

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [12]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

## Import Keras
Let's go ahead and import the Keras library

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [22]:
# build the model
model = regression_model()

In [23]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 28763.6718
Epoch 2/50
 - 0s - loss: 5883.1596
Epoch 3/50
 - 0s - loss: 3927.0709
Epoch 4/50
 - 0s - loss: 3276.4187
Epoch 5/50
 - 0s - loss: 2771.6571
Epoch 6/50
 - 0s - loss: 2358.2472
Epoch 7/50
 - 0s - loss: 2054.3953
Epoch 8/50
 - 0s - loss: 1817.0218
Epoch 9/50
 - 0s - loss: 1640.6981
Epoch 10/50
 - 0s - loss: 1488.7223
Epoch 11/50
 - 0s - loss: 1361.4910
Epoch 12/50
 - 0s - loss: 1238.0421
Epoch 13/50
 - 0s - loss: 1125.6973
Epoch 14/50
 - 0s - loss: 1023.8353
Epoch 15/50
 - 0s - loss: 934.0915
Epoch 16/50
 - 0s - loss: 858.5133
Epoch 17/50
 - 0s - loss: 791.9735
Epoch 18/50
 - 0s - loss: 732.3382
Epoch 19/50
 - 0s - loss: 682.6193
Epoch 20/50
 - 0s - loss: 639.9751
Epoch 21/50
 - 0s - loss: 596.8254
Epoch 22/50
 - 0s - loss: 563.6180
Epoch 23/50
 - 0s - loss: 533.6528
Epoch 24/50
 - 0s - loss: 506.3299
Epoch 25/50
 - 0s - loss: 485.5613
Epoch 26/50
 - 0s - loss: 463.0156
Epoch 27/50
 - 0s - loss: 443.9682
Epoch 28/50
 - 0s - loss: 433.4917
Epoch 29/50
 - 0s - loss: 415.1418
Epoch 30/50
 - 0s - loss: 401.9660
Epoch 31/50
 - 0s - loss: 383.7728
Epoch 32/50
 - 0s - loss: 370.7880
Epoch 33/50
 - 0s - loss: 359.7305
Epoch 34/50
 - 0s - loss: 348.6260
Epoch 35/50
 - 0s - loss: 338.9505
Epoch 36/50
 - 0s - loss: 328.0113
Epoch 37/50
 - 0s - loss: 319.5209
Epoch 38/50
 - 0s - loss: 310.5827
Epoch 39/50
 - 0s - loss: 303.8952
Epoch 40/50
 - 0s - loss: 292.9668
Epoch 41/50
 - 0s - loss: 287.1534
Epoch 42/50
 - 0s - loss: 279.9313
Epoch 43/50
 - 0s - loss: 272.0263
Epoch 44/50
 - 0s - loss: 264.2741
Epoch 45/50
 - 0s - loss: 260.9064
Epoch 46/50
 - 0s - loss: 252.3322
Epoch 47/50
 - 0s - loss: 247.6205
Epoch 48/50
 - 0s - loss: 241.7549
Epoch 49/50
 - 0s - loss: 235.9144
Epoch 50/50
 - 0s - loss: 229.7464

In [24]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 313us/step

263.70908817427056

### Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [25]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

263.7090902517782 0.0

In [26]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 110.39235919347473
MSE 2: 102.30155544836545
MSE 3: 70.28314097876688
MSE 4: 72.63624830770647
MSE 5: 55.81518199142901
MSE 6: 57.32681148492017
MSE 7: 59.39875028048518
MSE 8: 48.25813992200932
MSE 9: 55.6435985873818
MSE 10: 51.598571357603596
MSE 11: 47.40520997031993
MSE 12: 46.61649202143104
MSE 13: 58.22740689373325
MSE 14: 52.69198607163908
MSE 15: 50.13637437789571
MSE 16: 50.81258036789385
MSE 17: 49.47070292747522
MSE 18: 49.3041719850213
MSE 19: 45.09850571765097
MSE 20: 49.73404668912919
MSE 21: 49.56323363171426
MSE 22: 46.23119022159515
MSE 23: 44.900219185838424
MSE 24: 60.25731725600159
MSE 25: 48.40804214230633
MSE 26: 47.37537421069099
MSE 27: 49.71121754075331
MSE 28: 54.28477521235889
MSE 29: 62.053887438234
MSE 30: 49.872410376095075
MSE 31: 53.22266815086785
MSE 32: 51.226095452663586
MSE 33: 50.25313202694396
MSE 34: 51.9345194251792
MSE 35: 49.56791963546407
MSE 36: 52.868231640664504
MSE 37: 52.3691151689943
MSE 38: 54.27025900535213
MSE 39: 49.09603386789464
MSE 40: 45.21485205838595
MSE 41: 55.47286847802813
MSE 42: 52.180688592608305
MSE 43: 47.32595875811037
MSE 44: 55.21423579342543
MSE 45: 53.44943605194586
MSE 46: 54.83355810418484
MSE 47: 55.5915887703016
MSE 48: 50.324471532334016
MSE 49: 55.375492552723315
MSE 50: 54.21392919793484


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 54.79629100676863
Standard Deviation: 11.883605253941553